

div.as {
    height: 10em;
    position: relative }
div.as a {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


    div.asd {
        height: 10em;
        position: relative }
    div.asd a {
        margin: 0;
        background: yellow;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }


        div.asdf {
            height: 10em;
            position: relative }
        div.asdf a {
            margin: 0;
            background: yellow;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%) }


            div.asdfg {
                height: 10em;
                position: relative }
            div.asdfg a {
                margin: 0;
                background: yellow;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%) }